<div class="container">
    <div class="hero-container">
        <div class="hero-text">
            <h2>Connecting Talent with Opportunities..</h2>
            <p>Your Next Job, One Click Away</p>
            <div class="hero-btn">
                <a href="/jobs"><button class="button is-black is-large">I'm a Job Seeker</button></a>
                <a href="/dashboard"><button class="button is-black is-large">I'm a Recruiter</button></a>            </div>
        </div>
        <div class="hero-figure">
            <img src="images/banner.png" alt="hero-image" class="hero-image">
        </div>
    </div>
</div>